.summary > ul {
  @apply list-disc;

  & > li {
    @apply mb-2;
  }

  strong {
    @apply font-bold text-[#ffe99b];
  }
}



@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}


.accordionMain {
  & .accordionIcon {
    transform: rotate(0deg);
    transition: transform 300ms ease-in-out;

    media (prefers-reduced-motion: reduce) {
      transition: none !important;
    }
  }

  & .slideUp {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);

    media (prefers-reduced-motion: reduce) {
      animation: none !important;
    }
  }
}

.accordionMain[data-state="open"] {
  & .accordionIcon {
    transform: rotate(-180deg);
  }

  & .slideDown {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);

    media (prefers-reduced-motion: reduce) {
      animation: none !important;
    }
  }
}
