@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html, body {
    @apply h-full w-full text-light font-bodyFont bg-darkSecondary;
  }

  #main {
    @apply min-h-max bg-gradient-to-b from-darkPrimary to-darkSecondary;
  }

  html, body, #main {
    scroll-behavior: smooth;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-header tracking-wide;
  }

  code {
    @apply font-mono;
  }

  a:hover, a:any-link:hover {
    @apply cursor-pointer;
  }

  .hiddenElm {
    @apply block w-1 h-1 opacity-0 overflow-hidden relative z-[-1];
  }
}

@keyframes wobble {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@keyframes wobble {
  0%, 100% { transform: rotate(0deg); }
  6.67% { transform: rotate(10deg); }
  13.33% { transform: rotate(0deg); }
  20% { transform: rotate(-5deg); }
  26.67% { transform: rotate(0deg); }
  33.33% { transform: rotate(10deg); }
  40% { transform: rotate(0deg); }
  46.67% { transform: rotate(-5deg); }
  53.33% { transform: rotate(0deg); }
  60% { transform: rotate(10deg); }
  66.67% { transform: rotate(0deg); }
  73.33% { transform: rotate(-5deg); }
  80% { transform: rotate(0deg); }
  80.1%, 100% { transform: rotate(0deg); }
}

.iconWobble {
  transform-origin: center;
  animation: wobble 2.25s infinite;

  @media (prefers-reduced-motion: reduce) {
      animation: none !important;
  }
}
